.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.box {
  color: black;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 40px;
  border-top-style: solid;
  border-top-width: 1px;
  border-color: #687291;
  font-family: Tahoma;
  margin: 5px auto;
}

.box.even {
  background-color: #dfe1e7;
}
.box.odd {
  background-color: #eeeff2;
}

.box.special {
  background-color: #687291;
  border-width: 4px;
  border-style: solid;
  border-color: black;
  /* display: table-cell;
  vertical-align: middle; */
  line-height: 100px;
}
